* {
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    align-content: center;
}

.content {
    width: 1000px;
    height: 400px;
}

.content .photo {
    display: inline;
}

.content .photo img {
    margin: 50px 0 50px 50px;
    border-radius: 50%;
    border: 6px double purple;
}

.content .follow {
    display: inline-block;
    width: 400px;
    margin: 40px 60px 60px 60px;
    padding: 30px;
    text-align: center;
    vertical-align: top;
}

.info ul li {
    display: block;
    text-decoration-style: none;
    margin-top: 5px;
}

.content .follow table tr td {
    padding: 0 15px;
}

#hr {
    margin: 20px;
}

#hr2 {
    margin: 30px 50px 20px 50px;
}

th {
    padding-top: 10px;
    font-size: 25px;
}

.images {
    width: 1000px;
}

img {
    padding: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.header {
    display: flex;
    padding-top: 10px;
    border-bottom: 0.5px solid grey;
    padding-bottom: 10px;
}

.header img {
    width: 110px;
    height: 30px;
}

.icon {
    display: flex;
}

.icon p {
    justify-content: space-between;
    padding-top: 10px;
}

.form {
    padding-top: 14px;
}